*{

margin:0px;
padding:0px;
 box-sizing: border-box;
}

body {
  font-family: "Nunito Sans";
  color:black;
  font-weight: bold;
}

.logo-area {
  background-color: white;
  zoom: 2;
}
.mini-cart {
  background-color: white;
  font-size:xx-small;
  color: #000000;
  zoom: 2;
}

.header-search-cart-area {

}
.header-menu-area {
  background-color: rgb(0,0,0);
  color:white;
  text-underline-position: unset;
  zoom:0
  }
.main-menu {
  background-color: rgb(0,0,0);
  color:white;
  font-size: xx-large;
} 
